# Florida Traffic and Air Quality Index Analysis Notebook

This Python notebook is dedicated for the following steps in CS 132 21.2 project:
- Cleaning and processing traffic and AQI data further
- Exploratory data analysis
- Using linear regression to model the increase in AQI per amount of cars that are added
- Visualizing the data

## Preliminaries

The following external libraries used in this notebook is given by the list below. Make sure that the following are installed in your machine before running subsequent cells. These libraries were installed via `pip`: `pip install <library-name>`
- `pandas`

Run the cell below to load all dependencies and libraries

In [1]:
#lahat ng libraries na gagamitin niyo, paki-lagay na lang yung import statements dito
import pandas as pd

## Loading Datasets

We define two dataframe variables, which will be used throughout the duration of this project:
- `traffic_data`: pertains to the traffic data in Florida
- `airq_data`: pertains to the air quality data in Florida

In [2]:
traffic_data = pd.read_csv('florida_traffic_data.csv')
airq_data = pd.read_csv('florida_aqi_data.csv')

In [3]:
traffic_data.head()

,01/01,01/02,01/03,01/04,01/05,01/06,01/07,01/08,01/09,01/10,...,06/29,06/30,07/01,07/02,07/03,07/04,07/05,07/06,07/07,COUNTY
0,93577,130263,137751,110805,101379,120925,117384,122200,125525,133191,...,98897,99327,102682,111925,103217,71816,81094,99167,96529,Charlotte
1,27107,42907,45616,33070,32908,41046,43203,44375,45091,47476,...,35886,38459,43349,46666,45621,34863,31295,40701,42047,Citrus
2,236551,325565,338452,284312,264567,314038,304515,310861,318654,335605,...,216490,214114,220510,234920,218501,147360,165241,213985,207772,Collier
3,15620,22611,24145,18099,18292,22028,21675,22571,23220,25535,...,18203,18602,18885,20446,18055,12816,14553,18841,17845,Desoto
4,3437,4675,5495,3620,3310,4655,4581,4488,4883,5273,...,3963,3847,4235,4159,3614,2638,2901,3808,3913,Glades

In [4]:
airq_data.head()

  county Name   Date  AQI Defining Parameter
0     Alachua  01/03   35              PM2.5
1     Alachua  01/08   52              PM2.5
2     Alachua  01/09   48              PM2.5
3     Alachua  01/11   38              PM2.5
4     Alachua  01/12   37              PM2.5

# PART 1: Preprocessing Data

There are only certain counties that have been recorded by the air quality data of Florida. We can then filter the traffic data so that it can be consistent with the recorded counties of the air quality data.

In [5]:
#determine counties in the air quality data
county_airq = airq_data['county Name'].unique()

county_airq

array(['Alachua', 'Baker', 'Bay', 'Brevard', 'Broward', 'Citrus',
       'Collier', 'Columbia', 'Duval', 'Escambia', 'Hamilton',
       'Hillsborough', 'Holmes', 'Lee', 'Leon', 'Marion', 'Martin',
       'Miami-Dade', 'Nassau', 'Orange', 'Palm Beach', 'Pinellas', 'Polk',
       'Santa Rosa', 'Sarasota', 'Seminole', 'Volusia', 'Wakulla'],
      dtype=object)

In [6]:
#determine counties in traffic data
county_traffic = traffic_data['COUNTY'].unique()

county_traffic

array(['Charlotte', 'Citrus', 'Collier', 'Desoto', 'Glades', 'Hendry',
       'Hernando', 'Highlands', 'Hillsborough', 'Lake', 'Lee', 'Manatee',
       'Pasco', 'Pinellas', 'Polk', 'Sarasota', 'Sumter', 'Alachua',
       'Baker', 'Bradford', 'Columbia', 'Dixie', 'Hamilton', 'Lafayette',
       'Levy', 'Madison', 'Marion', 'Suwannee', 'Taylor', 'Bay',
       'Calhoun', 'Escambia', 'Franklin', 'Gadsden', 'Gulf', 'Holmes',
       'Jackson', 'Jefferson', 'Leon', 'Liberty', 'Okaloosa',
       'Santa Rosa', 'Wakulla', 'Walton', 'Washington', 'Brevard', 'Clay',
       'Duval', 'Flagler', 'Nassau', 'Orange', 'Putnam', 'Seminole',
       'St. Johns', 'Volusia', 'Broward', 'Miami-Dade', 'Indian River',
       'Martin', 'Monroe', 'Osceola', 'Palm Beach', 'St. Lucie',
       "Florida's Turnpike"], dtype=object)

In [7]:
#determine counties that are common for both datasets
common_counties = list(set(county_airq).intersection(set(county_traffic)))

print(common_counties)

['Lee', 'Sarasota', 'Hamilton', 'Marion', 'Duval', 'Miami-Dade', 'Brevard', 'Polk', 'Escambia', 'Holmes', 'Alachua', 'Wakulla', 'Bay', 'Columbia', 'Seminole', 'Nassau', 'Orange', 'Volusia', 'Citrus', 'Broward', 'Martin', 'Pinellas', 'Leon', 'Palm Beach', 'Collier', 'Baker', 'Santa Rosa', 'Hillsborough']

The variable `common_counties` represent counties in Florida that are common for both air quality and traffic data. We could now filter both the traffic and air quality data according to their common counties, represented by the `common_counties` variable.

In [8]:
traffic_data = traffic_data[traffic_data['COUNTY'].isin(common_counties)]

traffic_data.sort_values('COUNTY', inplace = True)
traffic_data

,01/01,01/02,01/03,01/04,01/05,01/06,01/07,01/08,01/09,01/10,...,06/29,06/30,07/01,07/02,07/03,07/04,07/05,07/06,07/07,COUNTY
17,114200,154629,166054,151168,146477,138321,128157,127949,134169,147862,...,125297,122412,131997,143193,137491,90080,118842,131855,120127,Alachua
18,2071,2796,3081,2526,2375,2565,2627,2745,2853,3272,...,2965,2929,3014,3288,3183,2641,2550,2857,2707,Baker
29,92354,139450,141158,111372,91151,139712,144079,144889,145925,154921,...,138276,154222,139730,166732,155771,124145,123179,133025,145192,Bay
45,261851,367668,401305,332429,299054,346140,321507,325505,332772,370856,...,287127,291592,295687,320577,305800,215883,242171,281311,275538,Brevard
55,654055,855843,900897,785596,702080,873355,902844,893983,908921,925687,...,715555,734498,736393,764052,712455,522985,494879,697840,709431,Broward
1,27107,42907,45616,33070,32908,41046,43203,44375,45091,47476,...,35886,38459,43349,46666,45621,34863,31295,40701,42047,Citrus
2,236551,325565,338452,284312,264567,314038,304515,310861,318654,335605,...,216490,214114,220510,234920,218501,147360,165241,213985,207772,Collier
20,117423,148119,159311,147044,140417,110480,96994,97715,104840,119029,...,115280,108944,122022,144884,139546,87239,136401,126308,105119,Columbia
47,359461,572172,602746,453034,391058,546093,553083,558678,563886,590374,...,318008,405390,426355,445997,455776,322478,335327,471132,471482,Duval
31,171980,264689,274006,229805,187136,265397,268369,269910,276625,286133,...,242656,246983,254142,290255,267312,196559,198003,253754,245818,Escambia
22,106346,127154,135234,130286,113071,80779,68361,69042,74208,84379,...,90603,85586,99034,120035,118103,73112,120637,103639,82454,Hamilton
8,598964,856118,963169,763970,686799,910950,932075,940139,954196,1012229,...,718396,807937,818302,774462,785259,584499,573174,775718,781137,Hillsborough
35,1645,2259,2241,2166,1606,2309,2292,2256,2361,2572,...,2398,2251,2427,2512,2293,1696,1690,2383,2134,Holmes
10,123551,190314,196339,161625,144795,191499,190125,193380,198359,205749,...,145821,101122,138298,154355,138501,91943,101102,142151,147329,Lee
38,97888,160412,166942,139390,124957,162310,163466,166014,170007,180440,...,47745,47945,81166,107798,96170,63894,72039,91871,89527,Leon
26,128167,175346,190383,157922,146845,136969,115065,118544,151483,197443,...,141360,165719,176701,197906,188965,99277,133854,174987,163133,Marion
58,120260,182639,192913,157111,137019,176451,185180,187090,179163,197823,...,96521,96404,98637,104016,94519,66636,73329,93911,90242,Martin
56,480641,623491,666016,582892,510192,656266,633215,625472,656632,698342,...,621795,639073,634538,649289,561908,366931,365232,509467,606777,Miami-Dade
49,158779,209268,226856,198059,172187,155115,142999,145273,149481,165483,...,144903,143011,157054,175482,160518,105334,145162,152988,137655,Nassau
50,346578,409312,435168,365366,365908,424509,417938,414616,423547,437300,...,324655,341166,345577,368217,353258,268718,273966,337038,331019,Orange
61,496735,738460,766661,636097,560431,722610,722778,716651,725090,775552,...,703184,644371,722408,746341,683554,473495,480509,672670,690993,Palm Beach
13,126552,193971,203201,146573,135448,190107,190819,198033,200324,207050,...,154095,157123,158990,167883,160921,127497,119868,151060,154953,Pinellas
14,212584,276576,291908,239865,230132,272470,267297,270915,276081,297594,...,235872,235934,239895,255110,247124,192202,197198,235556,230403,Polk
41,11894,18501,20341,16103,13162,21150,21790,22176,23144,23585,...,20611,21830,22289,22979,18790,14405,13586,19502,21393,Santa Rosa
15,180628,251962,263967,209272,189352,237171,233129,237354,241575,256581,...,181450,181872,187510,201595,183307,122614,137956,179135,176535,Sarasota
52,104329,160002,169552,131999,118223,156583,161430,163660,168091,177671,...,139556,141617,142898,152863,142241,100068,97031,136411,138793,Seminole
54,137457,187074,204712,166068,151999,175353,177057,176110,176575,184847,...,180978,187860,185389,201645,189050,58518,151995,181742,158697,Volusia
42,12032,18213,19166,15572,13640,18681,18084,19124,19217,20802,...,18176,18183,18698,20191,19170,14446,13988,17149,17124,Wakulla

In [9]:
airq_data = airq_data[airq_data['county Name'].isin(common_counties)]

airq_data

     county Name   Date  AQI Defining Parameter
0        Alachua  01/03   35              PM2.5
1        Alachua  01/08   52              PM2.5
2        Alachua  01/09   48              PM2.5
3        Alachua  01/11   38              PM2.5
4        Alachua  01/12   37              PM2.5
...          ...    ...  ...                ...
2156     Wakulla  06/29   60              PM2.5
2157     Wakulla  06/30   58              PM2.5
2158     Wakulla  07/01   54              PM2.5
2159     Wakulla  07/02   64              PM2.5
2160     Wakulla  07/03   58              PM2.5

[2161 rows x 4 columns]

# PART 2: Exploratory Data Analysis

Both air quality and traffic data from selected counties in Florida state have been preprocessed/cleaned. We can then visualize the trends both in traffic and air quality data in selected counties in Florida.

## PART 2.1: Filtering DataFrame by County

We can then filter our dataframes according to a specific county. Let us define a function `filter_data` that performs the following tasks:
- Filter the air quality dataset to a specified county
- Filter the traffic dataset to a specified county
- Filter recorded dates, since there are particular dates that are not present in the traffic data or air quality data
- Combine datasets into a single dataframe

In [10]:
def filter_data(traffic, air_quality, county):
    temp1 = air_quality[air_quality['county Name'] == county]
    temp2 = traffic[traffic['COUNTY'] == county]
    
    date1 = list(temp2.columns[1:])
    date2 = list(temp1['Date'])
    
    common_dates = list(set(date1).intersection(set(date2)))
    common_dates.sort()
    
    temp1 = temp1[temp1['Date'].isin(common_dates)]
    temp2 = temp2[common_dates]
    to_return = temp1[['Date', 'AQI']].copy(deep = True)
    
    tem_lis = []
    for i in common_dates:
        tem_lis.append(temp2[i].values[0])
    
    to_return['traffic_volume'] = tem_lis
    to_return = to_return.reset_index(drop = True)
    
    return to_return

We can test our newly-created function to a specific county. **For the cells below, you can change the value of `county` variable and run the cell to see the results for a specific county.** You may check for the list of common counties in both datasets by looking at the `common_counties` variable.

In [11]:
print(common_counties)

['Lee', 'Sarasota', 'Hamilton', 'Marion', 'Duval', 'Miami-Dade', 'Brevard', 'Polk', 'Escambia', 'Holmes', 'Alachua', 'Wakulla', 'Bay', 'Columbia', 'Seminole', 'Nassau', 'Orange', 'Volusia', 'Citrus', 'Broward', 'Martin', 'Pinellas', 'Leon', 'Palm Beach', 'Collier', 'Baker', 'Santa Rosa', 'Hillsborough']

In [13]:
#You may change the county variable according to a value in the common_counties variable
county = "Santa Rosa"

test_var = filter_data(traffic_data, airq_data, county)

test_var

     Date  AQI  traffic_volume
0   01/02   40           18501
1   01/03   38           20341
2   01/10   44           23585
3   01/11   51           10932
4   01/13   32           21023
5   01/21   39           22037
6   01/22   37           21670
7   01/23   54           21644
8   01/26   33           12564
9   01/31   36           23544
10  02/01   31           16497
11  02/05   41           20510
12  02/06   33           20084
13  02/10   42           22273
14  02/12   33           22113
15  02/14   55           25115
16  02/16   43           11889
17  02/17   27           17022
18  02/23   45           14166
19  03/07   65           16914
20  03/16   48           21051
21  03/17   53           21252
22  03/19   35           20459
23  03/20   32           21211
24  03/22   36           11007
25  03/24   30           18956
26  03/25   50           19200
27  03/26   54           19039
28  03/27   45           19944
29  03/28   57           13957
30  03/29   69           10391
31  03/31   42           17416
32  04/04   60           11412
33  04/05   52            9320
34  04/08   39           17796
35  04/09   63           18328
36  04/12   68            8096
37  04/15   50           19266
38  05/16   32           17566
39  05/22   59           22647
40  05/23   57           17379
41  05/24   41           14564
42  06/02   37           22119
43  06/07   32           10953
44  06/08   48           20266
45  06/09   54           21180
46  06/10   36           21742
47  06/24   49           21403
48  06/25   57           22566
49  06/26   59           23903
50  06/27   84           18837
51  06/28   59           14274
52  06/29   54           20611
53  06/30   57           21830
54  07/01   61           22289
55  07/02   59           22979
56  07/03   50           18790