# Florida Traffic and Air Quality Index Analysis Notebook

This Python notebook is dedicated for the following steps in CS 132 21.2 project:
- Cleaning and processing traffic and AQI data further
- Exploratory data analysis
- Using linear regression to model the increase in AQI per amount of cars that are added
- Visualizing the data

## Preliminaries

The following external libraries that have been used in this notebook is given by the list below. Make sure that the following are installed in your machine before running subsequent cells. These libraries were installed via `pip`: `pip install <library-name>`
- `pandas`

In [1]:
#mga bhie lahat ng libraries na gagamitin, paki-lagay na lang yung import statements dito
import pandas as pd

## Loading Datasets

We define two dataframe variables, which will be used throughout the duration of this project:
- `traffic_data`: pertains to the traffic data in Florida
- `airq_data`: pertains to the air quality data in Florida

In [2]:
traffic_data = pd.read_csv('florida_traffic_data.csv')
airq_data = pd.read_csv('florida_aqi_data.csv')

In [3]:
traffic_data.head()

,Unnamed: 0,COUNTY,03/26,03/27,03/28,03/29,03/30,03/31,04/01,04/02,...,06/28,06/29,06/30,07/01,07/02,07/03,07/04,07/05,07/06,07/07
0,0,Charlotte,82672,186611,57054,45057,10754599,73959,76644,78887,...,80747,98897,99327,102682,111925,103217,71816,81094,99167,96529
1,1,Citrus,31192,78843,25315,20754,3692189,29950,31750,32386,...,27751,35886,38459,43349,46666,45621,34863,31295,40701,42047
2,2,Collier,184823,409884,124242,95336,26338889,170020,171818,170158,...,158620,216490,214114,220510,234920,218501,147360,165241,213985,207772
3,3,Desoto,18119,43706,13530,11630,2028471,17274,17320,17858,...,14313,18203,18602,18885,20446,18055,12816,14553,18841,17845
4,4,Glades,3744,8605,2688,2096,408545,3580,3515,3797,...,2771,3963,3847,4235,4159,3614,2638,2901,3808,3913

In [4]:
airq_data.head()

   Unnamed: 0 county Name  County Code        Date  AQI Defining Parameter
0       45873     Alachua            1  2020-03-26   56              PM2.5
1       45874     Alachua            1  2020-03-27   50              PM2.5
2       45875     Alachua            1  2020-03-28   49              PM2.5
3       45877     Alachua            1  2020-03-30   39              PM2.5
4       45878     Alachua            1  2020-03-31   39              PM2.5